- var pageCount = getPageCount();
if pageCount > 1
  .section
    h6.section-header Pages

  p
    ul
      - var i = 1;
      - while(i <= pageCount)
        if page == i
          li
            a(href=pageURL(i)) #{i}
        else
          li
            a(href=pageURL(i)) #{i}
        - i++;