- var pageCount = getPageCount();
if pageCount > 1
  .section
    h6.section-header Pages

    p(style="text-align: center;")
      - var i = 1;
      - while(i <= pageCount)
        a(href=pageURL(i)) #{i}
        - if(i < pageCount)
          |  |  
        - i++;