extends layout

block content
  .section
    h6.section-header Blog <a href="/rss"><img src="/images/rss-small-red.png" /></a>

    - var posts = getPosts(0, 5)
    - var page = 1
    - each post in posts
      include includes/postSnippet

  include includes/pagination